body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}


.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: black;
}

.header .nav-item {
  padding-right: 20px;
}

.header .nav-item .nav-link:hover {
  color: #ff9999;
  transition: 0.05s ease-out;
}

.header .nav-link {
  color: white;
  font-size: 1.1rem;
}

.header .nav-link-active {
  color: #d32f2f;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-logo img {
  width: 50px;
  border-radius: 50%;
}

.hero-section {
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 100px 0;
  text-align: center;
  background: url('../assests/about-us-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-section p {
  font-size: 1.5rem;
}



.section1 {
  margin-bottom: 20px;
}

.section1 .our-mission .row,
.section3 .trust-row {
  align-items: center;
}

.section1 .our-mission .row img,
.section3 .image-container img{
  width: 100%;
}

.section1 .hero-text-container h2,
.section2 .hero-text-container h2,
.section3 .hero-text-container h2,
.section4 h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
}
.section3 .hero-text-container h2 {
  margin-bottom: 0;
}

.our-mission .mission-text,
.section3 .trust-text {
  line-height: 1.3;
  font-size: 1.2rem;
}

.section2 {
  margin-bottom: 20px;
}

.section2 .row {
  justify-content: center;
  gap: 20px;
}

.section2 .card {
  padding: 30px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.section2 .card h3 {
  font-weight: bold;
}

.section2 .card p {
  font-size: 1.1rem;
}

.section4 {
  margin-bottom: 20px;
}

.section4 p {
  font-size: 1.1rem;
}

.section1 {
  margin-bottom: 30px;
}

.section3 {
  margin-bottom: 50px;
}

.section2 {
  margin-bottom: 40px;
}

footer {
  background-color: #8B0000;
  padding: 20px 50px 40px;
}

footer .row {
  justify-content: space-evenly;
}

footer .footer-brand-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .footer-brand-name h3 {
  font-weight: bold;
}

footer .footer-brand-text {
  margin-top: 7px;
}

footer .footer-logo {
  width: 60px;
  border-radius: 50%;
}

footer .footer-icons {
  display: flex;
  gap: 10px;
  align-items: end;
  margin-top: 20px;
}

footer .footer-icons img {
  width: 30px;
  filter: contrast(0) brightness(100);
}

footer .footer2-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  width: 200px;
}

footer .footer2-div a {
  text-decoration: none;
  color: white;
  width: 150px;
}

footer .footer2-div a:hover {
  color: #ff9999;
}



@media(max-width: 991px) {
  .navbar-toggler {
    border-color: #d32f2f;
  }

  .navbar-toggler {
    color: #d32f2f;
  }

  .navbar-toggler-icon {
    filter: contrast(0) brightness(100);
  }

  .hero-section h1 {
    font-size: 3rem;
  }

  .hero-section p {
    font-size: 1.3rem;
  }

  .section3 .hero-text-container h2 {
    margin-bottom: 10px;
  }
  .section3 .trust-row {
    flex-direction: column-reverse;
  }

  footer .row {
    justify-content: left;
  }

  footer .row .footer2-div {
    margin-bottom: 17px;
  }

  footer .footer2-div a {
    border-bottom: 1px solid white;
  }
}

@media(max-width: 600px) {
  .hero-section {
    padding: 50px 0;
  }

  .hero-section h1 {
    font-size: 2.8rem;
  }

  .hero-section p {
    font-size: 1.2rem;
    color: white;
  }  
}
