body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}


.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: black;
}

.header .nav-item {
  padding-right: 20px;
}

.header .nav-item .nav-link:hover {
  color: #ff9999;
  transition: 0.05s ease-out;
}

.header .nav-link {
  color: white;
  font-size: 1.1rem;
}

.header .nav-link-active {
  color: #d32f2f;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-logo img {
  width: 50px;
  border-radius: 50%;
}


.game-news-section {
  margin-top: 90px;
  padding-bottom: 20px;
}

.game-news-section h2 {
  font-size: 2rem;
  font-weight: bold;
}

.game-news-section .p1 {
  font-size: 1.1rem;
}

.game-news-section .game-news {
  line-height: 1.2;
  font-size: 1.2rem;
}

.game-news-section .whats-new-container {
  margin-top: 70px;
}

.game-news-section .game-whats-new li {
  line-height: 1.2;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.game-news-section .game-news-conclusion-container {
  margin-top: 10px;
}

.game-news-section .game-news-conclusion-container p {
  line-height: 1.2;
  font-size: 1.2rem;
}

.game-news-section .game-whats-new h3 {
  font-weight: bold;
}

.game-news-section .bt {
  font-weight: bold;
}

.game-news-section .explore-other-news {
  margin-top: 7px;
  font-weight: bold;
}

footer {
  background-color: #8B0000;
  padding: 20px 50px 40px;
}

footer .row {
  justify-content: space-evenly;
}

footer .footer-brand-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .footer-brand-name h3 {
  font-weight: bold;
}

footer .footer-brand-text {
  margin-top: 7px;
}

footer .footer-logo {
  width: 60px;
  border-radius: 50%;
}

footer .footer-icons {
  display: flex;
  gap: 10px;
  align-items: end;
  margin-top: 20px;
}

footer .footer-icons img {
  width: 30px;
  filter: contrast(0) brightness(100);
}

footer .footer2-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  width: 200px;
}

footer .footer2-div a {
  text-decoration: none;
  color: white;
  width: 150px;
}

footer .footer2-div a:hover {
  color: #ff9999;
}



@media(max-width: 991px) {
  .navbar-toggler {
    border-color: #d32f2f;
  }

  .navbar-toggler {
    color: #d32f2f;
  }

  .navbar-toggler-icon {
    filter: contrast(0) brightness(100);
  }

  .game-news-section {
    margin-top: 70px;
  }

  .game-news-section .game-news-row {
    flex-direction: column-reverse;
  }

  .game-news-section .game-whats-new .last-li {
    padding-bottom: 0;
  }

  .game-news-section .game-news-conclusion-container {
    margin-top: 0px;
  }
  
  .game-news-section .whats-new-container {
    margin-top: 40px;
  }

  footer .row {
    justify-content: left;
  }

  footer .row .footer2-div {
    margin-bottom: 17px;
  }

  footer .footer2-div a {
    border-bottom: 1px solid white;
  }
}
